$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$brown: #A87328;
$darkblue: #0C347D;
$umber: #54290C;
$springer: #EDED80;

html {
  height: 100%;
}

body {
  background-color: #AAACB5;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 34px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    z-index: 2;
}

.ui-region {
  margin: 25px 0px;
}

.bookshelf {
  width: 100%;
  height: 100%;
  min-height: 690px;
  margin: 0 auto;
  border: 10px $brown solid;
  overflow: hidden;
  background-image: linear-gradient(darken($brown, 32%), darken($brown, 30%) 220px, 
    lighten($brown, 4%) 220px, lighten($brown, 4%) 222px,
    $brown 222px, $brown 228px,
  darken($brown, 4%) 228px, darken($brown, 4%) 230px);
  background-size: 10px 230px;
  box-shadow: 0px 1000px 0px 400px #7A7668;
  line-height: 230px;
}

.book {
  height: 200px;
  width: 40px;
  display: inline-block;
  color: white;
  font-size: 0.9em;
  font-family: Verdana, sans-serif;
  transition: transform 0.4s ease;
  vertical-align: bottom;
  margin-bottom: 10px;
}

.book-tilted {
  display: inline-block;
  width: 74px;
}

.book-tilted > .book {
  transform: translateY(-3px) translateX(15px) rotate(9deg) ;
}

.book:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

$book-colors: #ad424a, #c9ae73, #b57d30, #4e6a8f, #a2b6b3, #71825e, #918c88, #ac6632, #8d1e31, #393f3f, #c89c77, #5a528f, #c2bb86, #e7dad0;
$text-colors: #550f15, #ac6632, #e3e1d0, #070829, #4e6a8f, #1d2f15, #e7dad0, #c89038, #f9cd1b, #fff6eb, #444e42, #4a0d45, #5d6658, #8d1e31;

@for $i from 1 through length($book-colors) {
  .book-color-#{$i - 1} {
    background-color: nth($book-colors, $i);
    color: nth($text-colors, $i);
    border-left: 2px solid darken(nth($book-colors, $i), 4%);
    border-right: 2px solid lighten(nth($book-colors, $i), 4%);
  }
}

$book-heights: 200px, 196px, 192px, 188px, 184px, 180px;

@for $i from 1 through length($book-heights) {
  .book-height-#{$i - 1} {
    height: nth($book-heights, $i);
  }
}

.book h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-35px);
  width: 180px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}

.book h2.long-title {
  font-size: 10px;
}

/*.book h3 {
  padding: 0;
  font-size: 0.7em;
  transform-origin: 0 0;
  transform: rotate(0.25turn) translateY(-15px) translateX(-20px);
  width: 150px;
}*/

.book-details {
  & h1 {
    margin: 0;
  }
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 40px;
  }
  & li {
    display: inline-block;
    margin-left: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    & a {
      color: #333;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  
}
